<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>专业方向</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="../../static/admin/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../../static/admin/css/admin.css">
    <link rel="stylesheet" href="../../static/admin/css/app.css">
</head>

<body>

<div>

    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 管理员操作日志
            </div>
        </div>

        <b style="padding-bottom: 120px;padding-top: -30px;" >
            <code style="white-space:pre-line;padding-top: 0px">
                {{.info}}
            </code>
        </b>

    </div>

</div>

</body>

</html>